<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    <h1>{{hero.name}}</h1>
    <div>
        <div>
            <ul><h5>
                <li>Alter Ego: {{hero.alter_ego}}</li>
                <li>Primary Ability: {{hero.primary_ability}}</li>
                <li>Secondary Ability: {{hero.secondary_ability}}</li>
                <li>Catchphrase: {{hero.catchphrase}}</li>
                </h5>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <a href="{% url 'superheroes:index' %}">Back</a>
        </div>
    </div>
</body>
</html>