<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superheroes!</title>
</head>
<body>
<h1>Superheroes List</h1>
<ul>
    {% for superhero in all_superheroes %}
    <li><h2> {{superhero.name}} </h2></li>
    <div>
       <a href="{% url 'superheroes:details' superhero.id %}">View Details</a>
    </div>
    <div>
        <a href="{% url 'superheroes:edit_superhero' superhero.id %}"
           class="btn btn-warning text-break">Edit</a>
    </div>
    {% endfor %}
    <br><br><br>
    <div>
        <a href="{% url 'superheroes:create_superhero' %}">Create New Superhero</a>
    </div>
</ul>
</body>
</html>